<div class=":component {{classes.size}}">
  <div class="wrapper">
    {{yield (hash
      titlebar=(component "ui-panel--default-titlebar")
      content=(component "ui-panel--default-content"))}}
  </div>
</div>
