@component() {
  /* min-width & transition is for :active detection */
  & {
    min-width: 0px;
    transition: min-width .001s linear;
  }

  &:active {
    min-width: 1px;
    transition: min-width .001s linear;
  }
}
