@mixin ui-button--material() {
  letter-spacing: .010em;
  border-radius: 3px;
  box-sizing: border-box;
  color: currentColor;
  user-select: none;
  position: relative;
  border: 0;
  display: inline-block;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: 0 0;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  cursor: pointer;
  overflow: hidden;
  color: #212121;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);

  &--active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  }

  &--label {
    position: relative;
    z-index: 1;
  }
}

.ui-button--material {
  @include ui-button();
  @include ui-button--base()
  @include ui-button--material()
}
