@component() {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  vertical-align: middle;
  position: relative;
  user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* Overrides normalize.css */
  &:-moz-focusring {
    outline: none;
  }
}
