@import './ui-button';
@import './ui-button--base';

@component($border-color: #ccc, $padding: 0 0.9em) {
  @include ui-button();
  @include ui-button--base();

  border: 1px solid $border-color;
  padding: $padding;
  line-height: 2em;
}
