@import './ui-button';
@import './ui-button--base';
@import './ui-button--default';

@component() {
  @include ui-button();
  @include ui-button--base();
  @include ui-button--default(
    $radius: 2.2em,
    $border-color: #0d518b,
    $color: #ffffff,
    $background: #1787e5,
    $disabled-background: #147cd3,
    $disabled-color: #9bc0df
  );
};
