@import './ui-button';
@import './ui-button--base';

@component(
    $radius: 0.3em,
    $border-color: #b9b9b9,
    $color: #6a6a6a,
    $background: #ffffff,
    $disabled-color: #ababab,
    $disabled-background: #f9f9f9
  ) {
  @include ui-button();
  @include ui-button--base();

  border-radius: $radius;
  cursor: pointer;
  padding: 1px;
  line-height: 2.3em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, lighten($border-color, 15%) 0%, $border-color 100%);
  color: $color;
  fill: $color;

  &--focus {
    background: rgba(0, 107, 255, 0.5); /* make the border part of the shadow */
    box-shadow: 0px 0px 4px #0090ff;
    z-index: 2;
  }

  &--active {
    background: linear-gradient(to top, lighten($border-color, 15%) 0%, $border-color 100%);
    box-shadow: none;
  }

  &--disabled {
    pointer-events: none;
    background: linear-gradient(to bottom, lighten($border-color, 15%) 0%, $border-color 100%);
    color: $disabled-color;
    fill: $disabled-color;
  }

  &--loading {
    /*
      TODO Placeholder until we can replace with proper spinner
      Copied from http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner
    */
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      height: 15px;
      width: 15px;
      animation: ui-button--default--loading--rotation .6s infinite linear;
      border-left: 4px solid rgba(0, 174, 239, .15);
      border-right: 4px solid rgba(0, 174, 239, .15);
      border-bottom: 4px solid rgba(0, 174, 239, .15);
      border-top: 4px solid rgba(0, 174, 239, .8);
      border-radius: 100%;
    }
  }

  &--group-button {
     margin-right: -1px;
     border-radius: 0px;
  }

  &--first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &--last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &--wrapper {
    border-radius: inherit;
    background: $background;

    &--active, &--disabled {
      background: $disabled-background;
    }
  }

  &--label {
    padding: 0 0.9em;
    min-height: 10px;
    font-style: normal;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--active {
      transform: translateY(1px);
    }

    &--loading {
      opacity: 0;
    }
  }

  @at-root {
    @-webkit-keyframes ui-button--default--loading--rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }
}
