@component() {
  display: inline-block;
  cursor: pointer;

  &--input {
    opacity: 0.001;
    position: absolute;
  }

  &--component {
    border-radius: 0.2em;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.30) 100%);

    &--wrapper {
      border-radius: inherit;
      position: relative;
      height: 0.9em;
      width: 0.9em;
      background: #ffffff;
    }

    &--icon {
      opacity: 0;
      transition: opacity 0.1s;
      color: #e2e2e2;

      &:before {
        // TODO: Need a non-hideous ✓
        content: "✓";
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        line-height: 1.2em;
        font-size: 0.8em;
        text-align: center;
      }
    }
  }

  &--enabled {
    .ui-checkbox--default--component:hover {
      .ui-checkbox--default--component--icon {
        opacity: 0.5;
      }
    }

    .ui-checkbox--default--input:focus + .ui-checkbox--default--component {
      background: rgba(0,107,255,0.5);
      box-shadow: 0px 0px 4px #0090ff;

      .ui-checkbox--default--component--icon {
        opacity: 0.5;
      }
    }

    &.ui-checkbox--default--checked {
      .ui-checkbox--default--input:focus + .ui-checkbox--default--component {
        background: linear-gradient(to bottom, #40a0f0 0%, #1274c6 100%);
        box-shadow: 0px 0px 4px #0090ff;

        .ui-checkbox--default--component--icon {
          opacity: 1;
        }
      }
    }
  }

  &--disabled {
    cursor: inherit;

    .ui-checkbox--default--component--wrapper {
      background: #f3f3f3;
    }

    /* Disabled Checked */
    &.ui-checkbox--default--checked {
      .ui-checkbox--default--component--icon {
        opacity: 0.5;
      }
    }
  }

  &--checked {
    .ui-checkbox--default--component {
      background: linear-gradient(to bottom, #40a0f0 0%, #1274c6 100%);
    }

    .ui-checkbox--default--component--wrapper {
      background: #40a0f0;
    }

    .ui-checkbox--default--component--icon {
      opacity: 1;
      color: #ffffff;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &--error {
    .ui-checkbox--default--component {
      background: #ff7f7f;
      box-shadow: 0px 0px 4px #ff0000;
    }
  }
}
