@import './ui-tooltip--base';

@component() {
  // TODO Fix once classes don't get prepended
  @at-root {
    .ui-icon--default--ui-dropbutton-trigger--icon {
      fill: #5e5e5e;
      height: 0.6em !important;
      width: 0.6em !important;
    }
  }
}
