@mixin ui-input--default(
  $border-radius: 0.3rem,
  $disabled-background: #f9f9f9,
  $disabled-color: #777777
) {
  border-radius: $border-radius;
  padding: 1px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.12) 100%);

  &__wrapper {
    background: white;
    border-radius: inherit;
  }

  &__input {
    border: none;
    border-radius: inherit;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 0.5em 0.4em; /* TODO: Make sizes match buttons */

    &:focus {
      outline: none;
      margin: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: solid 1px #7fb5ff;
      box-shadow: 0px 0px 4px #0090ff, inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &--error__input {
    margin: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: solid 1px #ff7f7f;
    box-shadow: 0px 0px 4px #ff0000, inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }

  &--disabled__input {
    background: $disabled-background;
    color: $disabled-color;
  }
}


.ui-input--default {
  @include ui-input--default()
}
