@component() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;

  &--modal {
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-height: calc(100vh - 100px);
  }
}
