@component(
  $background: #f9f9f9,
  $border-color: #d7d7d7,
  $color: #5e5e5e,
  $radius: 0.3em
) {
  padding: 1px;
  border-radius: $radius;
  background: linear-gradient(to bottom, lighten($border-color, 7.5%) 0%, $border-color 100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;

  &--wrapper {
    background: $background;
    border-radius: inherit;
    padding: 0.5em;
    color: $color;
    position: relative;
  }

  &--message {
    padding-right: 2em;
    line-height: 1.3em;
  }

  &--close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      box-shadow:
        inset 1px 1px 0px rgba(0, 0, 0, 0.1),
        1px 1px 0px rgba(255, 255, 255, 0.4);
      transform: scale(0.1);
      opacity: 0;
      border-radius: 1em;
      transition: opacity 0.2s, transform 0.2s;
    }

    &:hover{
      &:before {
        transform: scale(1);
        opacity: 1;
      }

      &--icon {
        fill: rgba(0, 0, 0, 0.7);
      }
    }

    &--icon {
      width: 60%;
      height: 60%;
      transition: fill 0.2s;
      fill: rgba(0, 0, 0, 0.5);
    }
  }

  // TODO Remove this
  @at-root {
    .ui-icon--default--ui-message--default--close--icon {
      width: 60%;
      height: 60%;
      fill: rgba(0, 0, 0, 0.5);
    }
  }
}
