@component() {
  position: absolute;
  color: #2d89f4;
  z-index: 1;
  display: flex;

  &--previous {
    left: 7px;
  }

  &--action {
    right: 7px;
  }

  &--chevron {
    width: 14px;
    fill: #007aff;
    vertical-align: middle;
  }

  &--icon {
    width: 20px;
    text-align: left;
  }

  &--label {
    flex: 1;
  }
}
