@mixin ui-panel--modal-titlebar-action() {
  position: absolute;
  top: 10px;

  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }
}

.ui-panel--modal-titlebar-action {
  @include ui-panel--modal-titlebar-action()
}
