@component() {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 44px;
  height: 44px;
  color: #060608;
  text-shadow: 1px 1px #fff;
  border-bottom: solid 1px #dcdcdc;

  &--content {
    position: relative;
    z-index: 1;
  }

  &--background {
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    z-index: -1;
  }
}
