@mixin ui-panel() {
  & {
    padding: 1px;
    background: red;
    border-radius: $untitled-ui--border-radius;
    display: flex;
    margin-bottom: 5px;
  }
  &__wrapper {
    border-radius: inherit;
    background: #ffffff;
    flex: 1;
  }

  &--default {
    background-image: linear-gradient(to bottom,  #e0eaed 0%, #c8d7dc 100%);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  }
}

.ui-panel {
  @include ui-panel()
}
