@component() {
  display: flex;
  border-radius: $untitled-ui--border-radius;
  padding: 1px;
  background: #c6c6c6;
  background-image: linear-gradient(to bottom,  #e0eaed 0%, #c8d7dc 100%);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;

  &--wrapper {
    flex: 1;
    border-radius: inherit;
    background: #ffffff;
  }
}
