@component() {
  position: relative;
  border-top-right-radius: $untitled-ui--border-radius;
  border-top-left-radius: $untitled-ui--border-radius;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.5em 8em;
  font-size: 1.15em;
  line-height: 2.1em;
  min-height: 2.1em;
  color: #576b7a;
  text-shadow: 1px 1px #fff;
  background: #f3f7fa;
  border-bottom: solid 1px #dfe8ee;
}
