@mixin ui-panel-titlebar--modal-action() {
  position: absolute;
  top: 10px;

  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }
}

.ui-panel-titlebar--modal-action {
  @include ui-panel-titlebar--modal-action()
}
