.ui-ripple__animation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

  .ui-ripple__animation__ripple {
    position: absolute;
    border-radius: 500px;
    background: #e2e2e2;
  }
