@import './ui-tooltip--base';

@component() {
  @include ui-tooltip--base();

  &-target {
    display: inline-block;
    cursor: help;
    color: #1787e5;
    border-bottom: dotted 1px;
    cursor: pointer;
  }
}
