@component() {
  display: flex;
  font-size: 0.7em;
  line-height: 1.4em;
  padding: 1em 0;
  color: #8ea1a8;
  background: #f6fafb;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: solid 1px #e0eaed;
}
