/* TODO: @import 'normalize'; */

html {
  font-size: 16px;
}

$untitled-ui--border-radius: 0.3em;

$untitled-ui--button-default-label-color: #6a6a6a;
$untitled-ui--button-default-border-color: #b9b9b9;
$untitled-ui--button-primary-label-color: #1787e5;
$untitled-ui--button-primary-border-color: #408fd1;

$untitled-ui--fontSize--x-small: 0.6rem;
$untitled-ui--fontSize--small: 0.8rem;
$untitled-ui--fontSize--medium: 1rem;
$untitled-ui--fontSize--large: 1.3rem;
$untitled-ui--fontSize--x-large: 1.6rem;

@import './ui-type-scale';

@import './components/ui-button';
@import './components/ui-button--simple';
@import './components/ui-button--default';
@import './components/ui-button--primary';
@import './components/ui-field';
@import './components/ui-input';
@import './components/ui-modal';
@import './components/ui-modal-backdrop';
@import './components/ui-modal-backdrop--modal';
@import './components/ui-checkbox';
@import './components/ui-panel';
@import './components/ui-panel-titlebar--default';
@import './components/ui-panel-titlebar--modal';
@import './components/ui-panel-titlebar--modal-action';
@import './components/ui-panel-content';
@import './components/ui-panel-content--default';
@import './components/ui-panel-content--modal';
@import './components/ui-panel--default';
@import './components/ui-panel--modal';
