/* TODO: @import 'normalize'; */

html {
  font-size: 16px;
}

$untitled-ui--border-radius: 0.3em;

$untitled-ui--fontSize--x-small: 0.6rem;
$untitled-ui--fontSize--small: 0.8rem;
$untitled-ui--fontSize--medium: 1rem;
$untitled-ui--fontSize--large: 1.3rem;
$untitled-ui--fontSize--x-large: 1.6rem;

@import './ui-type-scale';

@import './components/ui-button';
@import './components/ui-field';
@import './components/ui-input';
