/* TODO: @import 'normalize'; */

html {
  font-size: 16px;
}

$untitled-ui--border-radius: 0.3em;

$untitled-ui--font-size--x-small: 0.6rem;
$untitled-ui--font-size--small: 0.8rem;
$untitled-ui--font-size--medium: 1rem;
$untitled-ui--font-size--large: 1.3rem;
$untitled-ui--font-size--x-large: 1.6rem;

@import './ui-type-scale';

@import './components/ui-button';
@import './components/ui-button--simple';
@import './components/ui-button--default';
@import './components/ui-button--primary';
@import './components/ui-button--material';
@import './components/ui-button-group';
@import './components/ui-checkbox--default';
@import './components/ui-field';
@import './components/ui-field--default';
@import './components/ui-field--default-label';
@import './components/ui-field--default-description';
@import './components/ui-input--default';
@import './components/ui-textarea--default';
@import './components/ui-modal';
@import './components/ui-modal-backdrop';
@import './components/ui-modal-backdrop--modal';
@import './components/ui-panel';
@import './components/ui-panel-content';
@import './components/ui-panel--default';
@import './components/ui-panel--default-titlebar';
@import './components/ui-panel--default-content';
@import './components/ui-panel--modal';
@import './components/ui-panel--modal-titlebar';
@import './components/ui-panel--modal-titlebar-action';
@import './components/ui-panel--modal-content';
@import './components/ui-ripple';
@import './components/ui-pagination--default';
@import './components/ui-tabs--default';
