.ui-fontSize--x-small {
  font-size: $untitled-ui--fontSize--x-small;
}

.ui-fontSize--small {
  font-size: $untitled-ui--fontSize--small;
}

.ui-fontSize--medium {
  font-size: $untitled-ui--fontSize--medium;
}

.ui-fontSize--large {
  font-size: $untitled-ui--fontSize--large;
}

.ui-fontSize--x-large {
  font-size: $untitled-ui--fontSize--x-large;
}
