.ui-font-size--x-small {
  font-size: $untitled-ui--font-size--x-small;
}

.ui-font-size--small {
  font-size: $untitled-ui--font-size--small;
}

.ui-font-size--medium {
  font-size: $untitled-ui--font-size--medium;
}

.ui-font-size--large {
  font-size: $untitled-ui--font-size--large;
}

.ui-font-size--x-large {
  font-size: $untitled-ui--font-size--x-large;
}
