<div class=":component" id="{{id}}">
  {{yield (hash button=(component "ui-button" buttonGroup=(hash firstChild=firstChild
                                                                lastChild=lastChild)
                                              register=(action "registerButton")
                                              kind=kind
                                              size=size)
  )}}
</div>
