<button class={{classes}} disabled={{isDisabled}} {{action "onclick"}}>
  <div class="ui-button__button">
    <div class="ui-button__wrapper">
      <div class="ui-button__label">
        {{yield}}
      </div>
    </div>
  </div>
</button>
