<button class="ui-button {{sizeClass}}" disabled={{isDisabled}} {{action "onclick"}}>
  {{#component frame
    disabled=isDisabled
    loading=loading
    active=active
    focus=focus
    size=size}}
      {{yield}}
  {{/component}}
</button>
