<div class=":component
            {{classes.class}}
            {{classes.size}}">
  <div class="wrapper">
    {{input
      id=ids.input
      type=type
      placeholder=placeholder
      disabled=states.disabled
      aria-labelledby=ids.label
      class=(concat "ui-input--default--input"
                    " "
                    (if states.disabled "ui-input--default--input--disabled")
                    " "
                    (if states.error "ui-input--default--input--error"))
      focus-out=focus-out}}
  </div>
</div>
