<div class={{classes}}>
  <div class="ui-input__wrapper">
    {{input
      type=type
      placeholder=placeholder
      disabled=disabled
      aria-labelledby=aria-labelledby
      class="ui-input__input"}}
  </div>
</div>
