<div class={{classes}}>
  <div class="ui-input__wrapper">
    {{input
      id=ids.input
      type=type
      placeholder=placeholder
      disabled=disabled
      aria-labelledby=ids.label
      class="ui-input__input"
      focus-out=focus-out}}
  </div>
</div>
