{{#ember-wormhole to="ui-modal"}}
  <div class="ui-modal {{sizeClass}}" id={{generatedModalId}}>
    <div class="ui-modal__modal">
      {{#ui-panel
        kind=kind
        size=size}}
          {{yield (hash
            close=(action "close")
            titlebar=(component "ui-panel-titlebar" kind=kind)
            content=(component "ui-panel-content" kind=kind)
          )}}
      {{/ui-panel}}
    </div>

    {{ui-modal-backdrop kind=kind onclick=(action "close")}}
  </div>
{{/ember-wormhole}}
