{{#ember-wormhole to="ui-modal"}}
  <div class=":component {{sizeClass}}" id={{generatedModalId}}>
    <div class="__modal">
      {{yield (hash
        panel=(component "ui-panel" kind="modal")
        close=(action "close")
      )}}
    </div>

    {{ui-modal-backdrop kind=kind onclick=(action "close")}}
  </div>
{{/ember-wormhole}}
