{{#ember-wormhole to="ui-modal"}}
  <div class={{classes}} id={{generatedModalId}}>
    <div class="ui-modal__modal">
      {{yield (hash
          close=(action "close")
          titlebar=(component "ui-modal-titlebar" kind=kind)
          content=(component "ui-modal-content" kind=kind)
        )}}
    </div>

    <div class="ui-modal__backdrop" onclick={{action "close"}}></div>
  </div>
{{/ember-wormhole}}
