{{#ember-wormhole to="ui-modal"}}
  <div class={{classes}} id={{generatedModalId}}>
    <div class="ui-modal__modal">
      {{yield (hash
          close=(action "close")
        )}}
    </div>

    <div class="ui-modal__backdrop" onclick={{action "close"}}></div>
  </div>
{{/ember-wormhole}}
