<div class=":component {{classes.class}} {{classes.size}}">
  {{yield (hash
      previousButton=(component "ui-button" class="ui-pagination--default--previous")
      nextButton=(component "ui-button" class="ui-pagination--default--next")
      pages=(component "ui-pagination--default-pages")
    )}}
</div>
