<div class="ui-panel-titlebar--modal">
  {{yield (hash
    left=(component "ui-panel-titlebar--modal-action" location="left")
    right=(component "ui-panel-titlebar--modal-action" location="right")
  )}}
</div>
