{{#if showPopup}}
  <div class="overlay" {{action action.hide}}></div>

  {{#component tether classPrefix="ui-popup--dropbutton-"}}
    <div class="window {{classes.class}} {{classes.size}}">
      <div class="window--wrapper">
        {{#ui-prevent-scroll-outside}}
          {{yield (hash list=(component "ui-list" kind="dropbutton" size=size))}}
        {{/ui-prevent-scroll-outside}}
      </div>
    </div>
  {{/component}}
{{/if}}
