<div class="ui-panel--ios-titlebar">
  {{yield (hash
    previous=(component "ui-panel--ios-titlebar-action" location="previous")
    action=(component "ui-panel--ios-titlebar-action" location="action")
    title=(component "ui-panel--ios-titlebar-title")
  )}}
</div>
