{{#if showPopup}}
  <div class="overlay" {{action action.hide}}></div>

  {{#component tether classPrefix="ui-popup--tooltip-"}}
    <div class="window {{classes.class}} {{classes.size}}">
      <div class="window--wrapper">
        {{yield}}
      </div>
    </div>
  {{/component}}
{{/if}}
