<div class="{{classes.size}} :component">
  {{yield (hash
      previousButton=(component "ui-button" class="previous")
      nextButton=(component "ui-button" class="next")
      pages=(component "ui-pagination--default-pages")
    )}}
</div>
