<div class="ui-panel--modal-titlebar">
  {{yield (hash
    left=(component "ui-panel--modal-titlebar-action" location="left")
    right=(component "ui-panel--modal-titlebar-action" location="right")
  )}}
</div>
