<div class=":component">
  <div class="content">
    {{yield (hash
      previous=(component "ui-panel--ios-titlebar-action" location="previous")
      action=(component "ui-panel--ios-titlebar-action" location="action")
      title=(component "ui-panel--ios-titlebar-title")
    )}}
  </div>
  <div class="background"></div>
</div>
