<div class=":component {{classes.class}} {{classes.size}}">
  <div class="wrapper">
    {{textarea
      id=ids.input
      placeholder=placeholder
      disabled=states.disabled
      aria-labelledby=ids.label
      class=(concat "ui-textarea--default--input"
                    " "
                    (if states.disabled "ui-textarea--default--input--disabled")
                    " "
                    (if states.error "ui-textarea--default--input--error"))
      rows=rows
      focus-out=focus-out}}
  </div>
</div>
