<div class="{{classes.parent}} ui-textarea--default">
  <div class="ui-textarea--default__wrapper">
    {{textarea
      id=ids.input
      placeholder=placeholder
      disabled=states.disabled
      aria-labelledby=ids.label
      class=(concat "ui-textarea--default__input"
                    " "
                    (if states.disabled "ui-textarea--default--disabled__input")
                    " "
                    (if states.error "ui-textarea--default--error__input"))
      rows=rows
      focus-out=focus-out}}
  </div>
</div>
