{{#ui-modal
  size="medium"
  onclose=(action "onModalClose") as |modal|}}

    {{#modal.panel as |panel|}}
      {{#panel.titlebar as |titlebar|}}
        {{#titlebar.left}}
          {{#ui-button onclick=modal.close}}
            Cancel
          {{/ui-button}}
        {{/titlebar.left}}

        Example Modal

        {{#titlebar.right}}
          {{#ui-button kind="primary" onclick=modal.close}}
            Save
          {{/ui-button}}
        {{/titlebar.right}}
      {{/panel.titlebar}}

      {{#panel.content}}
        scroll down...

        <div style="height: 800px;"></div>

        End of content
      {{/panel.content}}
    {{/modal.panel}}

{{/ui-modal}}
