{{#ui-panel kind="ios" as |panel|}}
  {{#panel.titlebar as |titlebar|}}
    {{#titlebar.title}}
      Mailboxes
    {{/titlebar.title}}

    {{#titlebar.action}}
      Edit
    {{/titlebar.action}}
  {{/panel.titlebar}}

  {{#panel.content}}
    List of inboxes

    <br />
    <a href="#" {{action "viewInbox"}} style="color: #2d89f4;">Inbox</a>

    <div style="height: 1000px;"></div>
    end of content
  {{/panel.content}}
{{/ui-panel}}
