<div style="position: absolute; top: 0; left: 0; background: #f0eff5; height: 100vh; width: 100vw;">

  {{#ui-panel kind="ios" as |panel|}}
    {{#panel.titlebar as |titlebar|}}
      {{#titlebar.title}}
        Mailboxes
      {{/titlebar.title}}

      {{#titlebar.action}}
        Edit
      {{/titlebar.action}}
    {{/panel.titlebar}}

    {{#panel.content}}
      Panel content

      <div style="height: 1000px;"></div>

      end of content

    {{/panel.content}}
  {{/ui-panel}}

  {{#ui-panel kind="ios" as |panel|}}
    {{#panel.titlebar as |titlebar|}}
      {{#titlebar.previous}}
        Mailboxes
      {{/titlebar.previous}}

      {{#titlebar.title}}
        Inbox
      {{/titlebar.title}}

      {{#titlebar.action}}
        Edit
      {{/titlebar.action}}
    {{/panel.titlebar}}

    {{#panel.content}}
      Panel content

      <div style="height: 1000px;"></div>

      end of content

    {{/panel.content}}
  {{/ui-panel}}

</div>
