<h1>Buttons</h1>

<h2>Sizes</h2>

{{#ui-button kind="default" size="small"}}
  hello world
{{/ui-button}}

{{#ui-button kind="primary" size="small"}}
  hello world
{{/ui-button}}

{{#ui-button}}
  hello world
{{/ui-button}}

{{#ui-button kind="primary"}}
  hello world
{{/ui-button}}

{{#ui-button kind="default" size="large"}}
  hello world
{{/ui-button}}

{{#ui-button kind="primary" size="large"}}
  hello world
{{/ui-button}}

<h2>Disabled</h2>

{{#ui-button disabled=true}}
  hello world
{{/ui-button}}

{{#ui-button kind="primary" disabled=true}}
  hello world
{{/ui-button}}

<h2>Loading</h2>

{{#ui-button loading=true}}
  hello world
{{/ui-button}}
